<h1>Digimon</h1>
<div class="col-sm">
    <div class="card-deck row">
        <app-page *ngFor="let mensaje of mensajes | async"
            [mensaje] = "mensaje"
            (clickPage)= "escuchaClick( $event )">
        </app-page>
    </div>
</div>
