<div (click)="onClick()" class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <img src="{{ mensaje.img }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ mensaje.name }}</h5>
      <p class="card-text">{{ mensaje.level }}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>
