<!-- <ul class="list-group list-group-horizontal">
    <a href="https://www.google.com" class="list-group-item list-group-item-primary list-group-item-action">Google</a>

    <a href="https://www.google.com.mx/search?hl=es-419&authuser=2&tbm=isch&sxsrf=ALeKk02Z4tDEnGAj_GJSuuTBj4MO0Vo3_g%3A1582202383801&source=hp&biw=1326&bih=696&ei=D35OXp6OL9fP0PEP_py4gAg&q=hat+kid+gif&oq=hat&gs_l=img.1.1.35i39l2j0l8.1154.1831..3232...0.0..0.149.554.0j4......0....1..gws-wiz-img.....10..35i362i39j0i131.Lc60p2Pb2Eg#imgrc=gA8mkWtCwhcOyM"
    class="list-group-item list-group-item-primary list-group-item-action">XD</a>

    <a class="list-group-item list-group-item-primary list-group-item-action" href=""> pruba</a>

    <a [routerLink]="ruta.path" class="list-group-item list-group-item-danger list-group-item-action"
        *ngFor="let ruta of rutas">
        {{ruta.name}}
    </a>
</ul> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Proyecto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item">
            <a href="https://www.google.com" class="nav-link">Google</a>
        </li>
        <li class="nav-item">
            <a href="https://www.google.com.mx/search?hl=es-419&authuser=2&tbm=isch&sxsrf=ALeKk02Z4tDEnGAj_GJSuuTBj4MO0Vo3_g%3A1582202383801&source=hp&biw=1326&bih=696&ei=D35OXp6OL9fP0PEP_py4gAg&q=hat+kid+gif&oq=hat&gs_l=img.1.1.35i39l2j0l8.1154.1831..3232...0.0..0.149.554.0j4......0....1..gws-wiz-img.....10..35i362i39j0i131.Lc60p2Pb2Eg#imgrc=gA8mkWtCwhcOyM"
                class="nav-link">XD</a>
        </li> -->

        <li class="nav-item" [routerLink]="ruta.path" *ngFor="let ruta of rutas">
          <a class="nav-link" >{{ruta.name}}</a>
        </li>

      </ul>
    </div>
  </nav>
